Langgraph
openai
pydantic
pytest
langchain
langchain-core
langchain-community
langchain-openai
streamlit
langgraph.checkpoint.sqlite
ddgs
langchain_mcp_adapters
langchain_text_splitters
langchain_chroma
pypdf
chromadb
pdfreader
langchain-huggingface
sentence_transformers
langchain_groq
langsmith