Langgraph
openai
pydantic
pytest
langchain
langchain-core
langchain-community
langchain-openai
streamlit
langgraph.checkpoint.sqlite
ddgs
langchain_text_splitters
langchain_chroma
pypdf
chromadb
pdfreader
langchain-huggingface
sentence_transformers
langchain_groq
langsmith
mcp<2
langchain-mcp-adapters